@page
@model WebApplicationDemo.MyFirstRazorModel
@{
    ViewData["Title"] = "MyFirstRazor";
}

    <div class="text-center">
        <h1 style="color:deeppink;font-synthesis:weight">MyFirstRazor</h1>
        <h2 style="font-family:Times New Roman;color:#720b8b">This is Dp Welcome to .NET CORE</h2>
    </div>

