
@{
    ViewData["Title"] = "Customer";
}
    


<h1 style="font-family:'Times New Roman';color:saddlebrown;text-align:center">Customer Table</h1>
<div class="container">
    <table class="table" border="2">
        
            <tr class="table-dark" style="text-align:center">
                <th>CustomerID</th>
                <th>CustomerName</th>
                <th>CustomerCity</th>
                <th>Email</th>
            </tr>
            <tr class="table-primary" style="text-align:center">
                <td>1001</td>
                <td>S.Durga Prasad</td>
                <td>Rajahmundry</td>
                <td>dp@gmail.com</td>
            </tr>
            <tr class="table-success" style="text-align:center">
                <td>1002</td>
                <td>K.Chaitanya Anil</td>
                <td>Elur</td>
                <td>anil@gmail.com</td>
            </tr>
            <tr class="table-primary" style="text-align:center">
                <td>1003</td>
                <td>B.Leela Prasad</td>
                <td>Elur</td>
                <td>leela@gmail.com</td>
            </tr>
    </table>
</div>

